@import "./style";

.footer__container {
  font-family: 'Lato', 'sans-serif';
  width: 100%;
  height: 40px;
  font-size: 1rem;
  background: $primary;
  color: $secondary;
  margin-top: 20px;
  padding: 15px 0px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-right: 25px;
  }
}